<nav class="navbar is-grey-dark" role="navigation" aria-label="main-navigation">
    <div class="container">
        <!-- Navbar Brand -->
        <div class="navbar-brand">
        <!-- Navbar Menu -->
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/" class="navbar-item">
                        Home
                    </a>

                    <a href="/about" class="navbar-item">
                        About
                    </a>

                    <a href="/posts" class="navbar-item">
                        Blog
                    </a>
                </div>
            </div>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const burger = document.querySelector(".navbar-burger");
        const menu = document.querySelector("#navbarMenu");

        burger.addEventListener("click", () => {
            burger.classList.toggle("is-active");
            menu.classList.toggle("is-active");
        });
    });
</script>