@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$red: #C1292E;
$green: #0CCE6B;
$yellow: #F1D302;
$blue: #7D82B8;
$orange: #ED7D3A;
$grey: #777777;
$white: #FDFFFC;
$grey-dark: #211f22;
$black: #000000;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-light: $white;
$primary: $grey-dark;
$link: $blue;
$text: $white;
$info: $blue;
$success: $green;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $primary;
$footer-background-color: $primary;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$link-hover: $grey-light;
$title-color: $white;
$navbar-item-color: $link;

// Import only what you need from Bulma
// Base styles
@use "bulma/sass" as *;

// Elements
@use "bulma/sass/elements/button" as *;
@use "bulma/sass/elements/container" as *;
@use "bulma/sass/elements/title" as *;

// Form styles
@use "bulma/sass/form" as *;

// Components
@use "bulma/sass/components" as *;

// Layouts
@use "bulma/sass/layout/hero" as *;
@use "bulma/sass/layout/section" as *;
@use "bulma/sass/layout/footer" as *;

footer{
    text-align: center;
    //box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5)
}

/*
nav{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
*/

.content{
    padding-top: 1rem;
    padding-bottom: 1rem;
}